<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dophin.dao.EmailTaskDAO">

	<resultMap type="EmailTaskDTO" id="emailTaskMap">
		<id property="id" column="id" />
		<result property="mailto" column="mailto" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="status" column="status" />
	</resultMap>

	<insert id="insertEmailTaskInfo" parameterType="EmailTaskDTO" useGeneratedKeys="true"
		keyProperty="id">
		insert into email_task (mailto, title, content, create_time, update_time, status) values (#{mailto}, #{title}, #{content}, now(), now(), 1)
	</insert>

	<update id="updateEmailTaskInfo" parameterType="EmailTaskDTO">
		update email_task set mailto=#{mailto}, title=#{title}, content=#{content}, update_time=now() where status>0 and id=#{id}		
	</update>

	<select id="queryEmailTaskInfo" parameterType="Map" resultMap="emailTaskMap">
		select id, mailto, title, content, create_time, update_time from email_task where status>0 and id=#{id}
	</select>

	<update id="deleteEmailTaskInfo" parameterType="int">
		update email_task set status=-1 and update_time=now() where id=#{id}
	</update>

</mapper>